.grid {
  display: grid;
  gap: 10px;
  height: 50vh;
  /* fraction: grid에서 사용가능한 공간 */
  /* 1fr을 4번 반복. */
  /* width: 500px로 주면, 1fr은 거기서 4를 나눠서 가져가게됨. */
  /* fraction은 grid container에서 얻는 것임. */
  /* grid-template-columns: repeat(4, 1fr); */

  /* 녹색을 다른 것들보다 4배 정도 크게 만들겠다. */
  /* grid-template-columns: 4fr 1fr 1fr 1fr; */
  
  grid-template-columns: repeat(4, 1fr);

  /* 수직으로는 높이가 없어서 화면에 나타나지 않는다.*/
  /* 그래서 여기선 1fr은 0 */
  grid-template-rows: repeat(4, 1fr);
}

.header {
  background-color: #2ecc71;
}

.content {
  background-color: #3498db;
}

.nav {
  background-color: #8e44ad;
}

.footer {
  background-color: #f39c12;
}