body {
  font-family:Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;
  gap: 10px;
  height: 50vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  /* justify-items의 default는 stretch임. */
  /* grid 내의 자식들을 늘여서 본인을 채우게 함. */
  /* justify-items: stretch; */
  
  /* item들은 늘어나지 않음! (시작 위치: start, center, end) */
  /* justify-items: center; */
  /* align-items도 같은 개념이다. vertical로. */

  /* justify-items와 align-items를 같이 쓰는 지름길이 있음 */
  /* place-items: y x (처음이 y, 나중이 x) align 후에 justify*/
  place-items: end end;
}

.header {
  background-color: #2ecc71;
}

.content {
  background-color: #3498db;
}

.nav {
  background-color: #8e44ad;
}

.footer {
  background-color: #f39c12;
}