body {
  font-family:Arial, Helvetica, sans-serif;
}

.grid {
  color:white;
  /* grid container의 크기는 width: 100% */
  background-color: grey;
  display: grid;
  gap: 10px;
  height: 250vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  /* grid-template-rows: repeat(4, 1fr); */
  /* item은 셀 중의 하나. */
  /* content는 전체 grid. */

  /* 기본값 start */
  /* justify-content : 모든 grid를 horizontal하게 옮기는 것 */
  /* justify-content: start; */
  /* grid element가 아닌, grid를 가운데로 움직이는 것. */
  /* justify-content: space-evenly; */
  /* justify-content: space-between; */

  /* align-content:  모든 grid를 vertical하게 옮기는 것*/
  /* align-content: space-between; */
  /* align-content: start; */
  /* align-content: end; */

  /* place-content 도 있음. */
  /* vertical 먼저, horizontal 나중 */
  place-content: end center;

}

.header {
  background-color: #2ecc71;
}

.content {
  background-color: #3498db;
}

.nav {
  background-color: #8e44ad;
}

.footer {
  background-color: #f39c12;
}